<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="trip_title">Title</label>
        <input type="text" name="trip_title" id="trip-title">
        <br>
        <label for="trip_departure_date">Departure Date</label>
        <input type="text" name="trip_departure_date" id="trip_departure_date">
        <br>
        <label for="trip_return_date">Return Date</label>
        <input type="text" name="trip_return_date" id="trip_return_date">
        <br>
        <button type="submit">Add New Trip</button>
    </form>
</body>
</html>