<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trip Details</title>
</head>
<body>
    <h3><%= trip.title %></h3>
    <p><%= trip.departure_date %></p>
    <p><%= trip.return_date %></p>
</body>
</html>